html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'VT323','Merriweather', 'Helvetica Neue', Arial, sans-serif;
  background-color: black;
  color: white;
}
hr {
  border-color: #32CD32;
  border-width: 3px;
  max-width: 50px;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #32CD32;
}
a:focus, a:hover{
  color: #32CD32;
}
a i{
  color: white;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}
h1{
  font-size: 45px;
}
h2{
  font-size: 45px;
  margin: 0;
}
section {
  padding-bottom: 65px;
  border-top: 3px solid #32CD32;
}
section h2{
  padding-top: 75px;
}
.navbar-default {
  background-color: black;
  font-size: 38px;
  border-bottom: 3px solid   #32CD32;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-toggle.collapsed {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}
.navbar-toggle, .navbar-toggle.collapsed:hover{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  color: #32CD32;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #32CD32;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #32CD32 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
.navbar-collapse{
  border: none;
  box-shadow: none;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
   background-color: transparent;
   color: #32CD32;
}
@media (max-width: 992px) and (min-width: 768px){
  .navbar-right {
    width: 715px;
    margin: 0 auto;
    float: none !important;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    }
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: black;
    border-bottom: #32CD32 solid 3px;
  }
  
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    
    border-color: #32CD32;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    /*color: #222222;*/
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/header2.jpeg');
  text-align: center;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 25px;
  width: 100%;
  display: inline-block;
  margin-bottom: -6px;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 45px;
  font-family: 'VT323';
}
header .header-content .header-content-inner hr {
  margin: 10px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  margin-bottom: 50px;
}
header .header-content .header-content-inner{
  padding: 50px 15px 10px 15px;
}
header .header-content .header-content-inner{
  background-color: rgba(0,0,0,.9);
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    min-height: 100vh;
    padding-top: 75px;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 24px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}
.section-heading {
  margin-top: 0;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
  #services .row {
    padding-bottom: 30px;
  }
}
.service-box p {
  margin-bottom: 0;
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  padding-bottom: 10px; 
}
.portfolio-box .portfolio-box-caption {
  display: block;
  background-color: rgba(0,0,0,0.8);
  background-size: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  z-index: 1;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
}
.project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 40px;
}
.project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption  {
  background-color: rgba(255,255,255,0);
  color: rgba(255,255,255,0);
}

@media (min-width: 768px) {
  .project-category {
    font-size: 24px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 26px;
  }
  .portfolio-box{
    padding-bottom: 0;
  }
}
.text-primary {
  color: #32CD32;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.link-icon{
  position: absolute;
  top: calc(50% - 31px);
  left: calc(50% - 29.5px);
  color: #32CD32;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  opacity: 0;
}
.link-icon i{
  padding:10px;
  background-color: black;
  border: 2px solid;
  border-radius: 50px;
}
.portfolio-box:hover + .link-icon {
  opacity: 1;
}
.header-content{
  animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}